body {
    background-color: #222222;
}

:root, [data-md-color-scheme=default] {
    --md-primary-fg-color:          #00c7ff;
    --md-primary-bg-color:          #000000;
    --md-text-font:                 monospace;
    --md-default-fg-color:          #ffffff;
    --md-default-fg-color--light:   #ffffff;
    --md-default-bg-color:          #222222;
    --md-code-bg-color:             #000000;
    --md-code-fg-color:             #00c7ff;
    --md-typeset-color:             #ffffff;
    --md-typeset-a-color:           #ffffff;
    --md-typeset-table-color:       #222222;
    --md-accent-fg-color:           #00c7ff;
}
