body {
    background-color: black;
}

:root {
    --md-primary-fg-color:               black;
    --md-primary-fg-color--light:        black;
    --md-primary-fg-color--dark:         black;
    --md-primary-bg-color:               black;
    --md-primary-bg-color--light:        black;

}
